@charset "UTF-8";
.hidden {
  display: none;
}

* {
  margin: 0;
}

a {
  text-decoration: black;
  color: black;
}

* {
  font-family: "Roboto", sans-serif;
}

.main__explore__title h1 {
  font-weight: 900;
}

.menu__restaurantName h1 {
  font-style: italic;
  font-weight: 900;
  font-size: xx-large;
}

.menu__list h2 {
  font-weight: 100;
  font-size: large;
}

.button {
  display: flex;
  width: fit-content;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: #f2f2f2;
  border: none;
  box-shadow: 0px 3px 10px rgb(140, 140, 140);
  font-size: large;
  margin: 40px auto 40px;
}

.button__home {
  padding: 20px 30px;
}

.button__menu {
  padding: 20px 60px;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header img {
  width: 200px;
  display: flex;
  margin: auto;
}
header a {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.fa-arrow-left {
  zoom: 150%;
}

footer {
  width: 100%;
  background: rgb(58, 58, 58);
  padding: 30px 0;
}
footer img {
  filter: invert(100%);
  width: 100px;
  margin-left: 40px;
  margin-bottom: 15px;
}
footer li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
footer li i {
  color: whitesmoke;
  margin-right: 10px;
}
footer a {
  color: whitesmoke;
  text-decoration: none;
}

.fa-utensils {
  zoom: 90%;
}

.fa-handshake-angle {
  zoom: 70%;
}

.main {
  height: auto;
}
.main__localisation {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
  background: #dddbdd;
}
.main__localisation i {
  zoom: 130%;
  margin-top: -2px;
  margin-left: -20px;
  margin-right: 20px;
}
.main__localisation p {
  font-size: large;
  font-weight: 600;
}
.main__explore {
  padding: 40px 0;
  background-color: #f2f2f2;
  width: 100%;
}
.main__explore__title {
  padding: 0 40px;
  text-align: center;
}
.main__explore__title h1 {
  padding: 0 20px;
  margin-bottom: 10px;
}

.instructions {
  padding: 40px 30px;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .instructions {
    height: 140px;
  }
}
.instructions h2 {
  margin-bottom: 20px;
}
.instructions__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 220px;
}
@media screen and (min-width: 768px) {
  .instructions__container {
    flex-direction: row;
    height: 70px;
  }
}
.instructions__container__element {
  padding: 20px 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px lightgrey;
  background-color: #f2f2f2;
}
@media screen and (min-width: 768px) {
  .instructions__container__element {
    width: 30%;
  }
}
.instructions__container__element p:first-child {
  border-radius: 50%;
  width: 20px;
  text-align: center;
  margin-left: -10px;
  margin-right: 30px;
  background-color: #9356DC;
  color: rgb(255, 255, 255);
}
.instructions__container__element i {
  color: rgb(121, 120, 120);
  margin-right: 30px;
}
.instructions__container__element p:last-child {
  font-weight: 700;
}
.instructions__container__element:hover {
  background-color: #e6d5fc;
}
.instructions__container__element:hover i {
  color: #9356DC;
}

.restaurants {
  padding: 40px 30px;
  height: auto;
  background: #f2f2f2;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1040px;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .restaurants__container {
    flex-wrap: wrap;
    width: 100%;
    height: 520px;
    align-content: space-between;
  }
}
.restaurants__container__element {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 245px;
  border-radius: 20px;
  box-shadow: 0 0 20px #dddbdd;
  overflow: hidden;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .restaurants__container__element {
    width: 47%;
  }
  .restaurants__container__element:nth-child(4) {
    order: 4;
  }
  .restaurants__container__element:nth-child(3) {
    order: 2;
  }
  .restaurants__container__element:nth-child(2) {
    order: 3;
  }
}

.element__image {
  display: flex;
  justify-content: flex-end;
  height: 175px;
}
.element__image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.element__image p {
  background-color: #99E2D0;
  color: darkgrey;
  position: absolute;
  padding: 5px 10px;
  margin: 15px 10px;
  border-radius: 2px;
}

.element__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;
  background-color: white;
  padding: 10px;
}
.element__title h3 {
  margin-bottom: 2px;
}
.element__title i {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element__title i .fa-thin {
  width: 100%;
  height: 100%;
  background: linear-gradient(175deg, #9356DC, #FF79DA);
}

main {
  height: 350px;
  width: 100%;
}
main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px 0 60px;
  margin-top: -60px;
  background: whitesmoke;
  position: relative;
  width: 100%;
}
.menu__restaurantName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px 40px 22px;
}
@media screen and (min-width: 992px) {
  .menu__desktopVersion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 280px;
  }
}
.menu__list {
  padding-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .menu__list {
    width: 33%;
  }
}
.menu__list h2 {
  border-bottom: 3px solid lightseagreen;
  width: 42px;
  margin: 0 22px 15px 20px;
}
.menu__list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 222px;
  padding: 0 15px;
}
.menu__list__container__entrees__laNoteEnchantée {
  height: 296px;
  /* hauteur différente pour les entrées la note enchantée sur la version mobile */
}

/* hauteur différente version desktop pour la note enchantée */
@media screen and (min-width: 992px) {
  .height-laNoteEnchantée {
    height: 340px;
  }
}

/* Liste des plats et animation check */
.menuElement {
  display: inline-flex;
  cursor: pointer;
  box-shadow: 0 0 10px #afafaf;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  width: 100%;
}
.menuElement__description {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.menuElement__description p, .menuElement__description h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuElement__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  margin-inline-end: 20px;
  border: 1px solid black;
  transform: translateX(0);
  transition-duration: 1000ms;
}
.menuElement__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-right: -55px;
  background: #99E2D0;
  color: white;
  zoom: 150%;
  transform: translateX(0);
  transition-duration: 1000ms;
}
.menuElement__check .fa-circle-check {
  transform: rotate(-360deg);
  transition: transform 1000ms;
}

.menuElement:hover > .menuElement__price {
  transform: translateX(-54px);
  animation-duration: 1000ms;
}
.menuElement:hover > .menuElement__check {
  transform: translateX(-54px);
  animation-duration: 1000ms;
}
.menuElement:hover > .menuElement__check .fa-circle-check {
  transform: rotate(0deg);
}

/*# sourceMappingURL=style.css.map */
