.button {
    display: flex;
    width: fit-content;
    border-radius: 30px;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    color: #f2f2f2;
    border: none;
    box-shadow: 0px 3px 10px rgb(140, 140, 140);
    font-size: large;
    margin: 40px auto 40px;
    cursor: pointer;
    transition: all 500ms;
    &:hover {
        background: linear-gradient(175deg, #ff79d9d2, #9256dcd9);
        box-shadow: 0px 3px 14px rgb(125, 125, 125);
        transition: all 500ms;
    }
}

.button__home {
    padding: 20px 30px;
}
.button__menu {
    padding: 20px 60px;
}