.button {
    display: flex;
    width: fit-content;
    border-radius: 30px;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    color: white;
    border: none;
    @include box-shadow;
    font-size: large;
    margin: 40px auto 40px;
    cursor: pointer;
    &::after {
        content: "";
        background: linear-gradient(175deg, lighten($color-secondary, 5%), lighten($color-primary, 5%));
        box-shadow: 0px 3px 12px darken(rgb(175, 175, 175), 10%);
        opacity: 0;
        transition: opacity 500ms;
    }
    &:hover::after {
        opacity: 1;
    }
}

.button__home {
    padding: 20px 30px;
}
.button__menu {
    padding: 20px 60px;
}