* {
    font-family: 'Roboto', sans-serif;
}

.main__explore__title h1 {
    font-weight: 900;
}
.menu__restaurantName h1 {
    font-style: italic;
    font-weight: 900;
    font-size: xx-large;
}
.menu__list h2 {
    font-weight: 100;
    font-size: large;
}