* {
    font-family: 'Roboto', sans-serif;
}

.main__explore__title h1 {
    font-weight: 900;
}
.menu__restaurantName h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: xx-large;
}
.menu__list h2 {
    font-weight: 400;
    font-size: large;
}
.button {
    font-size: large;
}
