main {
    height: 350px;
    width: 100%;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px 0 60px;
    margin-top: -60px;
    background: $bg-lightgrey;
    position: relative;
    width: 100%;
    &__restaurantName {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 35px 40px 22px;
        & i {
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    }
    &__desktopVersion {
        @include desktop {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: 280px;
        }
    }
    &__list {
        padding-bottom: 40px;
        @include desktop {
            width: 33%;
        }
        & h2 {
            border-bottom: 3px solid $color-tertiary;
            width: 42px;
            margin: 0 22px 15px 20px;
        }
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            height: 222px;
            padding: 0 15px;
            &__entrees__laNoteEnchantée {
                height: 296px; /* hauteur différente pour les entrées la note enchantée sur la version mobile */
            }
        }
    }
}

/* hauteur différente version desktop pour la note enchantée */
.height-laNoteEnchantée {
    @include desktop {
        height: 340px;
    }
}

/* Liste des plats et animation check */
.menuElement {
    display: flex;
    cursor: pointer;
    @include box-shadow;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    width: 100%;
    position: relative;
    &__description {
        width: 100%;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        transition-duration: 500ms;
        & p, & h3 {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
        margin-inline-end: 20px;
        background: white;
        transform: translateX(0);
        transition-duration: 500ms;
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin-right: -110px;
        background: $color-tertiary;
        color: white;
        font-size: xx-large;
        opacity: 1;
        transform: translateX(0);
        transition-duration: 500ms;
        & .fa-circle-check {
            transform: rotate(-360deg);
            transition: transform 500ms;
        }
    }
}
.menuElement:hover {
    & .menuElement__description {
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 108px;
        transition-duration: 500ms;
    }
    & > .menuElement__price {
        transform: translateX(-108px);
        animation-duration: 500ms;
    }
    & > .menuElement__check {
        opacity: 1;
        transform: translateX(-108px);
        animation-duration: 500ms;
        & .fa-circle-check {
            transform: rotate(0deg);
        }
    }
}

/* animation apparition progressive */
.menuElement:nth-child(1) {
    animation: menu-appear 1000ms;
}
.menuElement:nth-child(2) {
    animation: menu-appear 1000ms 100ms;
}
.menuElement:nth-child(3) {
    animation: menu-appear 1000ms 200ms;
}